{% extends "base.html" %}
{% block body %}

<select id= "stock_selection" class="browser-default custom-select">
  <option selected>pick a stock</option>
  <option value="YHOO">YHOO</option>
  <option value="TSLA">TSLA</option>
  <option value="GOOG">GOOG</option>
</select>



    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

    socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function() {
        socket.emit('joined', {});
    });
    document.getElementById('stock_selection').addEventListener("change", selectStock)
    function selectStock(e){
        console.log("button pressed" ,e.currentTarget.value)
        socket.emit('text', {msg: e.currentTarget.value});
    }

    socket.on('text', function(data) {
        console.log(">>>>>>>>>>>", data)
        //$('#chat').val($('#chat').val() + data.msg + '\n');
        //$('#chat').scrollTop($('#chat')[0].scrollHeight);
    });

    </script>



{% endblock %}



