{% extends "base.html" %}
{% block body %}

    <h4>Session -  {{ room }}</h4>

    <svg class="targetsvg"></svg>

    <input value="" name="" id="stock_input" placeholder="Add ticket symbol">
    <button id="check_ticker">Check</button>



<!-- Load d3.js -->
<script src="https://d3js.org/d3.v5.js"></script>


<script>
var svg = d3.select(".targetsvg")
svg.append("circle")
  .attr("cx", 2).attr("cy", 2).attr("r", 40).style("fill", "blue");
svg.append("circle")
  .attr("cx", 140).attr("cy", 70).attr("r", 40).style("fill", "red");
svg.append("circle")
  .attr("cx", 300).attr("cy", 100).attr("r", 40).style("fill", "green");
</script>





    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

        socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function() {
            socket.emit('joined', {});
        });

        socket.on('message', function(data) {
            console.log("JSON MESSAGE:", JSON.parse(data.msg))
            console.log("OBJECT DATA:", Object.keys(data.msg))

        });

        document.getElementById("check_ticker").addEventListener("click", checkTicker)
        function checkTicker(){
            var ticker = document.getElementById("stock_input")
            socket.emit('text', {msg: ticker.value});
        }


    </script>



{% endblock %}