{% extends "base.html" %}
{% block body %}

<h4>Session -  {{ room }}</h4>




<select id= "stock_selection" class="browser-default custom-select">
  <option selected>pick a stock</option>
  <option value="YHOO">YHOO</option>
  <option value="TSLA">TSLA</option>
  <option value="GOOG">GOOG</option>
</select>

<input value="" name="" id="stock_input" placeholder="Add ticket symbol">
<button id="check_ticker">Check</button>



    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">

    socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
        socket.on('connect', function() {
        socket.emit('joined', {});
    });
    document.getElementById('stock_selection').addEventListener("change", selectStock)
    function selectStock(e){
        console.log("button pressed" ,e.currentTarget.value)
        socket.emit('text', {msg: e.currentTarget.value});
    }
    socket.on('message', function(data) {
        console.log("95963969397937", data)
        console.log("--->>>", data.info)
    });



    document.getElementById("check_ticker").addEventListener("click", checkTicker)
    function checkTicker(){
        var ticker = document.getElementById("stock_input")
        socket.emit('text', {msg: ticker.value});
    }

    </script>



{% endblock %}



